<%= form_for :users,  url: users_path do |f| %>
    <div class="title">Log in</div>
    <p>
      <%= label_tag(:username, "E-mail:") %><br/>
      <%= f.text_field :username , name:'username' %>
    </p>

    <p>
      <%= label_tag(:password, "Password:") %><br/>
      <%= f.password_field :password, name:'password' %>
      <%= f.hidden_field :role, :value => "buyer" %>
    </p>
    <p>
      <%= f.submit "Log in", name: 'login' %>
    </p>
<% end %>
<% if !params['logout'].nil? %>
   <% session.delete(:current_user_id) %>
<%end %>
