<div class="title"><%=@product.name %></div>
<p>
  <img class="logo" src="<%= asset_path @product.pic %>" alt="logo"  height="200px" width="252px"/>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
<% if !session[:current_user_id].nil? %>
    <% if session[:role] == 'admin' %>
          <%= link_to 'Edit', edit_product_path(@product)+"?edit=product" %>
          <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<% end %>


